<style>
  #section-{{ section.id }} .featured-row__title{
     font-size: {{section.settings.title-size}}px;
   }

   {% if section.settings.background != blank %}
      #section-{{ section.id }} .background__image{
         background-image: url("{{ section.settings.background | img_url: 'master' }}");
       }
   {% endif %}

   #section-{{ section.id }} .featured-row__picto{
      top: {{ section.settings.top-1}}%;
      right: {{ section.settings.right-1}}%;

   }

   #section-{{ section.id }} .featured-row__picto-2{
      top: {{ section.settings.top-2}}%;
      right: {{ section.settings.right-2}}%;

   }
   #section-{{ section.id }} .featured-row__picto-1{
     -webkit-transform: rotate({{ section.settings.rotate-1}}deg); /* Safari & Chrome */
     -moz-transform: rotate({{ section.settings.rotate-1}}deg); /* Firefox */
     -ms-transform: rotate({{ section.settings.rotate-1}}deg); /* Internet Explorer */
     -o-transform: rotate({{ section.settings.rotate-1}}deg); /* Opera */
       max-width: {{ section.settings.picto-width-1}}px;
    }

    #section-{{ section.id }} .featured-row__picto-2{
      -webkit-transform: rotate({{ section.settings.rotate-2}}deg); /* Safari & Chrome */
      -moz-transform: rotate({{ section.settings.rotate-2}}deg); /* Firefox */
      -ms-transform: rotate({{ section.settings.rotate-2}}deg); /* Internet Explorer */
      -o-transform: rotate({{ section.settings.rotate-2}}deg); /* Opera */
      max-width: {{ section.settings.picto-width-2}}px;
     }

//
</style>

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="half-banner">
{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white background__image">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light background__image">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent background__image">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark background__image">
{% endcase %}

{% case section.settings.image-width %}
  {% when 'extra-small' %}
    {%- assign image_width_columns = 2 -%}
    {%- assign content_width_columns = 10 -%}
  {% when 'small' %}
    {%- assign image_width_columns = 3 -%}
    {%- assign content_width_columns = 9 -%}
  {% when 'medium' %}
    {%- assign image_width_columns = 4 -%}
    {%- assign content_width_columns = 8 -%}
  {% when 'large' %}
    {%- assign image_width_columns = 5 -%}
    {%- assign content_width_columns = 7 -%}
  {% when 'extra-large' %}
    {%- assign image_width_columns = 6 -%}
    {%- assign content_width_columns = 6 -%}
{% endcase %}

<div class="container">
	<div class="row">

<div class="index-section col-md-12">
  <div class="page-width feature-row homepage-featured-content">
    {% capture image_layout %}
      <div class="feature-row__item col-md-{{ image_width_columns }} col-xs-12">
        {% if section.settings.image != blank %}
          {% include 'responsive-image' with section.settings.image, alt: section.settings.image.alt, class: 'feature-row__image' %}
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
        {% endif %}
      </div>
    {% endcapture %}

	<div class="row">
    <div class="feature-row">
      {% if section.settings.layout == 'left' %}
        {{ image_layout }}
      {% endif %}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} col-md-{{ content_width_columns }} col-xs-12 relative">
        {% if section.settings.title != blank %}
          <div class="featured-row__title-box">
            <h2><span class="featured-row__title {% if section.settings.show-underline %} title-underline {% endif %}">{{ section.settings.title | escape }}</span></h2>
          </div>
        {% endif %}
        {% if section.settings.text_block != blank %}
          <div class="rte featured-row__subtext textarea">{{ section.settings.text_block }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn btn-custom">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
        <div class="featured-row__logos">
          {% for block in section.blocks %}
            <img src="{{ block.settings.logo | img_url: 'master' }}" alt="logo-social">
          {% endfor %}
        </div>
        {% if section.settings.picto != blank %}
          <div class="featured-row__picto">
              <img src="{{ section.settings.picto | img_url: 'master' }}" alt="{{ section.settings.picto.alt }}" class="featured-row__picto-1">
          </div>
        {% endif %}
        {% if section.settings.picto-2 != blank %}
          <div class="featured-row__picto-2">
              <img src="{{ section.settings.picto-2 | img_url: 'master' }}" alt="{{ section.settings.picto.alt }}" class="featured-row__picto-2">
          </div>
        {% endif %}
      </div>

      {% if section.settings.layout == 'right' %}
        {{ image_layout }}
      {% endif %}
    </div>
    </div>
    </div>
    </div>

  </div>
</div>
</div>
</section>

{% schema %}
{
  "name": "Image with text",
  "class": "homepage-section--text-and-image-wrapper wow fadeIn",
  "settings": [
		{
			"type": "select",
			"id": "colors",
			"label": "Color scheme",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "White"
				},
				{
					"value": "light",
					"label": "Light"
				},
				{
					"value": "accent",
					"label": "Feature"
				},
				{
					"value": "dark",
					"label": "Dark"
				}
			],
			"info": "The colors in each 'scheme' can be changed in the 'General settings' > 'Colors' section of your admin"
		},
    {
      "type": "select",
      "id": "image-width",
      "label": "Image width",
      "default": "medium",
      "options": [
        {
          "value": "extra-small",
          "label": "Extra small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "extra-large",
          "label": "Extra large"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "background-dust"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
			"info": "600 x 600px recommended"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Image on left"
        },
        {
          "value": "right",
          "label": "Image on right"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
         "type":      "range",
         "id":        "title-size",
         "min":       12,
         "max":        100,
         "step":       1,
         "unit":       "px",
         "label":     "Title size",
         "default":   16
     },
     {
       "type": "checkbox",
       "id": "show-underline",
       "label": "show underline?"
     },
    {
      "type": "richtext",
      "id": "text_block",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "info": "Required to show the button"
    },
    {
      "type": "image_picker",
      "id": "picto",
      "label": "extra image 1"
    },
    {
         "type":      "range",
         "id":        "picto-width-1",
         "min":       100,
         "max":        200,
         "step":       1,
         "unit":       "px",
         "label":     "max width",
         "default":   150
     },
    {
         "type":      "range",
         "id":        "top-1",
         "min":       0,
         "max":        100,
         "step":       1,
         "unit":       "%",
         "label":     "vertical position",
         "default":   16
     },
    {
         "type":      "range",
         "id":        "right-1",
         "min":       0,
         "max":        100,
         "step":       1,
         "unit":       "%",
         "label":     "horizontal position",
         "default":   16
     },
     {
          "type":      "range",
          "id":        "rotate-1",
          "min":       -50,
          "max":        50,
          "step":       1,
          "unit":       "deg",
          "label":     "rotate position",
          "default":   20
      },
     {
       "type": "image_picker",
       "id": "picto-2",
       "label": "extra image 2"
     },
     {
          "type":      "range",
          "id":        "picto-width-2",
          "min":       100,
          "max":        200,
          "step":       1,
          "unit":       "px",
          "label":     "max width",
          "default":   150
      },
     {
          "type":      "range",
          "id":        "top-2",
          "min":       0,
          "max":        100,
          "step":       1,
          "unit":       "%",
          "label":     "vertical position",
          "default":   16
      },
     {
          "type":      "range",
          "id":        "right-2",
          "min":       0,
          "max":        100,
          "step":       1,
          "unit":       "%",
          "label":     "horizontal position",
          "default":   16
      },
      {
           "type":      "range",
           "id":        "rotate-2",
           "min":       -50,
           "max":        50,
           "step":       1,
           "unit":       "deg",
           "label":     "rotate position",
           "default":   20
       }

  ],
  "blocks": [
    {
      "type": "logos",
      "name": "logos",
      "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "logo"
          }

      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Text"
    }
  ]
}
{% endschema %}
