<style>
    #section-{{ section.id }} .half-banner-title{
      color: {{section.settings.color}}
    }

    #section-{{ section.id }} .half-banner-subtitle{
      color: {{section.settings.color}}
    }

    #section-{{ section.id }} .half-banner-title{
      font-size: {{section.settings.title-size}}px;
    }

    #section-{{ section.id }} .half-banner-subtitle{
      font-size: {{section.settings.subtitle-size}}px;
    }
    #section-{{ section.id }} .half-banner__logo{
      max-width: {{section.settings.logo-size}}px;
    }

   {% if section.settings.border %}
      #section-{{ section.id }} .banner--border{
         border-width: {{section.settings.border-size}}px;
      }
    {% endif %}
  //
</style>
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="half-banner">
   <div class="section-half-banner">
     <div class="{% if section.settings.container == large %} container--large {% elsif section.settings.container == medium %} container--medium {% else %} container--full {% endif%}">
      <div class="grid grid--center grid--middle grid--flush {% if section.settings.reverse%} grid--rev {% endif %}">
         <div class="1/2--lap-and-up grid__cell relative banner--border border-left-none ">
              <div class="carousel-cell relative {% if section.settings.display-side-mobile %} desktop-only {% endif %}">
                {% include 'image' with img:section.settings.img-left, class: 'full-width'  %}
                 <div class="half-banner_content">
                     {% if section.settings.title != blank or section.settings.subtitle != blank %}
                        <h3 class="half-banner-subtitle">{{ section.settings.subtitle}}</h3>
                        <h2 class="half-banner-title">{{ section.settings.title}}</h2>
                     {% endif %}
                     {% if section.settings.logo != blank %}
                        {% include 'image' with img:section.settings.logo, class: 'half-banner__logo'  %}
                     {% endif %}
                     {% if section.settings.button != blank %}

                     {% endif %}
                </div>

            </div>
         </div>
         <div class="1/2--lap-and-up grid__cell banner--border">
            <div class="carousel" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": true, "autoPlay": {{ section.settings.autoplay }}, "prevNextButtons": {{ section.settings.display-arrows }},
              "arrowShape": {
                  "x0": 10,
                  "x1": 55, "y1": 45,
                  "x2": 60, "y2": 40,
                  "x3": 20
               } }'>
              {% for block in section.blocks %}
                <div class="carousel-cell">
                   {% include 'image' with img:block.settings.slide, class: 'full-width'  %}
                </div>
              {% endfor %}
            </div>
         </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Half banner",
  "settings": [
      {
        "type":      "select",
        "id":        "container",
        "label":     "Container size",
        "options": [
        {
          "value": "full",
          "label": "container full"
        },
        {
          "value": "large",
          "label": "container-large"
        },
        {
          "value": "medium",
          "label": "container-medium"
        }
        ],
        "default":   "full",
        "info":      "Choose size of container"
      },
       {
         "type": "checkbox",
         "id": "reverse",
         "label": "inverse blocks?"
       },
       {
         "type": "header",
         "content": "left side"
       },
       {
         "type": "checkbox",
         "id": "display-side-mobile",
         "label": "dont display this side in mobile",
         "default": true
       },
       {
         "type": "text",
         "id": "title",
         "label": "title",
         "default": "Bike shop"
       },
       {
            "type":      "range",
            "id":        "title-size",
            "min":       12,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Title size",
            "default":   16
        },
       {
         "type": "text",
         "id": "subtitle",
         "label": "subtitle",
         "default": "subtitle"
       },
       {
            "type":      "range",
            "id":        "subtitle-size",
            "min":       12,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Title size",
            "default":   20
        },
       {
         "type": "color",
         "id": "color",
         "label": "text color"
       },
       {
         "type": "image_picker",
         "id": "logo",
         "label": "logo"
       },
       {
         "type": "range",
         "id": "logo-size",
         "min": 100,
         "max": 600,
         "step": 10,
         "unit": "px",
         "label": "Logo width",
         "default": 200
       },
       {
         "type": "image_picker",
         "id": "img-left",
         "label": "image left"
       },
       {
         "type": "checkbox",
         "id": "border",
         "label": "images border?",
         "default": false
       },
       {
            "type":      "range",
            "id":        "border-size",
            "min":       0,
            "max":        30,
            "step":       1,
            "unit":       "px",
            "label":     "border-size",
            "default":   10
        },
       {
        "type": "header",
        "content": "carousel options"
      },
       {
        "type": "checkbox",
        "id": "display-arrows",
        "label": "display arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "autoplay",
        "default": false
      }


  ],
  "blocks": [
    {
      "type": "slide-image",
      "name": "Slide image",
      "settings": [
         {
           "type": "image_picker",
           "id": "slide",
           "label": "slide"
         }
      ]
    }
  ],
  "presets": [
      {
        "name": "Half banner",
        "category": "Homepage"
      }
    ]
}
{% endschema %}
