{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

{% comment %}Pick an option only makes sense together with dropdowns{% endcomment %}
{% if section.settings.product_variant_style == 'dropdowns' and section.settings.pick_an_option %}
  {% assign pick_an_option = true %}
{% else %}
  {% assign pick_an_option = false %}
{% endif %}

{%- assign product = all_products[section.settings.featured_product] -%}
{% if pick_an_option %}
  {%- assign current_variant = product.selected_variant -%}
{% else %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
{% endif %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if current_variant.compare_at_price > current_variant.price %}
  {% assign on_sale = true %}
{% endif %}

<div class="container">
  <div class="row" id="product-box" data-section-id="{{ section.id }}">

    {% if section.settings.title != blank %}
      <div class="title-bar {{ settings.title-bar-styling }} custom-font">
        <h2><span>{{ section.settings.title | escape }}</span></h2>
        <div class="clear"></div>
      </div>
    {% endif %}

    {% if section.settings.image-placement == 'left' %}
      <div class="col-md-6 product-images">
        {% if settings.sale_badge %}
          <div class="sale-badge product-price__sale-label-{{ section.id }}{% unless on_sale %} hide{% endunless %}">{{ 'products.general.sale' | t }}</div>
        {% endif %}
          {% if product.empty? %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
                <li>
                  {{ 'product-1' | append: current | placeholder_svg_tag: 'icon icon--placeholder' }}
                </li>
              </ul>
            </div>
          {% else %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
              {% for image in product.images %}
                <li>
                  {% capture props %}
                    {% if image.variants != empty %}data-variant="{{ image.variants[0].id }}" data-image-id="{{ image.id }}"{% endif %}
                  {% endcapture %}
                  {% include 'responsive-image' with image, alt: image.alt, props: props %}
                </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
      </div>
    {% endif %}

    <div class="col-md-6">

      <section class="entry-content product-description-main-wrapper">

        {% unless product.empty? %}
        <div class="row">
          {% if section.settings.show-vendor %}
            <div class="indiv-product-vendor-text col-xs-{% if section.settings.show_sku %}6{% else %}12{% endif %}">{{ product.vendor }}</div>
          {% endif %}
          {% if section.settings.show_sku %}
            <div class="indiv-product-sku-text col-xs-{% if section.settings.show-vendor %}6 text-right{% else %}12{% endif %}{% unless current_variant.sku %} hide{% endunless %}">{{ current_variant.sku }}</div>
          {% endif %}
        </div>
        {% endunless %}

        {% if product.empty? %}
          <h2 class="custom-font product-description-header{% if section.settings.show_reviews %} reviews-enabled{% endif %}">{{ 'general.onboarding.product_title' | t }}</h2>
        {% else %}
          <h2 class="custom-font product-description-header{% if section.settings.show_reviews %} reviews-enabled{% endif %}">{{ product.title }}</h2>
        {% endif %}

        {% if section.settings.show_reviews %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}

        {% unless product.empty? %}

          {% if product.available %}

            {% form 'product', product, id: "add-to-cart-form" %}

              <ul class="product-page--pricing">

                <!-- Variant price -->
                <li class="product-page--pricing--variant-price">
                  <span class="custom-font js" id="price-field">
                    {% if pick_an_option %}
                      {{ 'products.product.make_a_selection' | t }}
                    {% elsif current_variant.available %}
                      <span class="money">{{ current_variant.price | money }}</span>
                    {% else %}
                      {{ "products.product.sold_out" | t }}
                      {% assign on_sale = false %}
                    {% endif %}
                  </span>
                </li>

                <!-- Variant 'compare at' price -->
                <li class="product-page--pricing--variant-compare-at-price">
                  <span class="custom-font compare-at-price js{% unless on_sale %} hide{% endunless %}">
                    <span class="money">{{ current_variant.compare_at_price | money }}</span>
                  </span>
                </li>

                {% case section.settings.show_discount %}

                {% when 'percentage' %}

                  <li class="product-page--pricing--discount">
                    <span class="variant-percentage-wrapper{% unless on_sale %} hide{% endunless %}">
                      - <span class="variant-percentage">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
                    </span>
                  </li>

                {% when 'value' %}

                  <li class="product-page--pricing--discount">
                      <span class="variant-value-wrapper{% unless on_sale %} hide{% endunless %}">
                        - <span class="variant-value"><span class="money">{{ current_variant.compare_at_price | minus: current_variant.price | money }}</span></span>
                      </span>
                  </li>
                {% endcase %}

              </ul>

              {% assign hide_default_title = false %}
              {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                {% assign hide_default_title = true %}
              {% endif %}

              <div class="row homepage-sections--indiv-product-slider-variants">

                  {% if product.variants.size > 0  %}

                    {% if section.settings.product_variant_style == 'dropdowns' %}

                      {% for option in product.options_with_values %}
                        <div class="col-md-6 col-sm-12 col-xs-12{% if hide_default_title == true %} hide{% endif %}">
                          <div class="input-field col s12 m6 materialize-select">
                            <select class="icons materialize" id="SingleOptionSelector-{{ forloop.index0 }}">
                              {% if section.settings.pick_an_option and option.values.size > 1 %}
                                <option value="" selected="selected">Pick a {{ option.name }}</option>
                              {% endif %}
                              {% for value in option.values %}
                                {% if section.settings.pick_an_option and option.values.size > 1 %}
                                    {% assign props = '' %}
                                {% elsif option.selected_value == value %}
                                    {% assign props = 'selected' %}
                                {% else %}
                                  {% assign props = '' %}
                                {% endif %}

                                {% comment %}Hide out of stock variants{% endcomment %}
                                {% if product.options_with_values.size == 1 and section.settings.hide_out_of_stock %}
                                  {% assign hide = true %}
                                  {% for v in product.variants %}
                                    {% if v.option1 == value and v.available %}
                                      {% assign hide = false %}
                                    {% endif %}
                                  {% endfor %}
                                {% else }
                                  {% assign hide = false %}
                                {% endif %}

                                {% unless hide %}
                                  <option {{ props }} value="{{ value | escape }}">{{ value }}</option>
                                {% endunless %}
                              {% endfor %}
                            </select>
                            <label for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                          </div>
                        </div>
                      {% endfor %}

                    {% else %}

                      {% for option in product.options %}
                        {% include 'swatch' with option %}
                      {% endfor %}

                    {% endif %}

                  {% endif %}

                  <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="form-control original-select product-form__variants no-js">
                    {% for variant in product.variants %}
                      {% if variant.available %}
                        <option {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                          {{ variant.title }} - <span class="money">{{ variant.price | money }}</span>
                        </option>
                      {% else %}
                        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>

                  {% if section.settings.show_quantity_selector %}
      			        <div class="{% if section.settings.product_variant_style == 'dropdowns' %}selector-wrapper{% else %}swatches-wrapper{% endif %} {% if section.settings.image_size == 'large' %}col-md-12{% else %}col-md-6{% endif %} col-sm-12 col-xs-12">
      				        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                            <div class="quantity-controls">
                                <button type="button" class="qty-minus">-</button>
      				                <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                <button type="button" class="qty-plus">+</button>
                            </div>
      					    </div>
      					  {% endif %}

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" name="add" id="purchase" class="btn btn-success custom-font{% if section.settings.show_smart_checkout %} add-to-cart--secondary{% endif %}" data-cart-action="{{ section.settings.cart-action }}">
                        {{ 'products.product.add_to_cart' | t }}
                    </button>

                    {% if section.settings.show_smart_checkout %}
                      {{ form | payment_button }}
                    {% endif %}

                  </div>

                  </div>

            {% endform %}

          {% else %}

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="product-out-of-stock">{{ 'products.product.sorry_stock' | t }}</div>
            </div>

          {% endif %}

        {% else %}

          <h3 class="custom-font"><span class="money">$16.99</span></h3>
          <div class="onboarding--sold-out">
            <a class="btn btn-success custom-font">
                {{ 'products.product.sold_out' | t }}
            </a>
          </div>

        {% endunless %}

        {% if section.settings.show_product_description %}
          {% unless product.empty? %}
            <div class="product-description-wrapper">
              {{ product.description }}
            </div>
          {% else %}
            {{ 'general.onboarding.product_description' | t }}
          {% endunless %}
        {% endif %}

      </section>

      </div>

      {% if section.settings.image-placement == 'right' %}
        <div class="col-md-6 product-images">
          <div class="sale-badge product-price__sale-label-{{ section.id }}{% unless current_variant.compare_at_price > current_variant.price %} hide{% endunless %}">{{ 'products.general.sale' | t }}</div>
          {% if section.settings.featured_product != empty %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
                {% for image in product.images %}
                  <li>
                    {% capture props %}
                      {% if image.variants != empty %}data-variant="{{ image.variants[0].id }}" data-image-id="{{ image.id }}"{% endif %}
                    {% endcapture %}
                    {% include 'responsive-image' with image, alt: image.alt, props: props %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
                <li>
                  {{ 'product-1' | append: current | placeholder_svg_tag: 'icon icon--placeholder' }}
                </li>
              </ul>
            </div>
        {% endif %}
        </div>
      {% endif %}
      </div>
    </div>
  </div>

{% unless product.empty? %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}

{% schema %}
{
"name": "Featured product",
"class": "homepage-section--indiv-product-wrapper wow fadeIn",
"settings": [
      {
        "type": "select",
        "id": "colors",
        "label": "Color scheme",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "accent",
            "label": "Feature"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "info": "The colors in each 'scheme' can be changed in the 'General settings' > 'Colors' section of your admin"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured product"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "radio",
        "id": "image-placement",
        "label": "Image placement",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "radio",
        "id": "cart-action",
        "label": "Add to Cart action",
        "options": [
          { "value": "drawer", "label": "Show drawer" },
          { "value": "added", "label": "Show 'Added' message" },
          { "value": "cart", "label": "Go to cart" }
        ]
      },
      {
        "type":      "radio",
        "id":        "product_variant_style",
        "label":     "Product variant style",
        "options": [
            { "value": "dropdowns", "label": "Dropdowns" },
            { "value": "swatches", "label": "Swatches" }
        ],
        "default":   "dropdowns",
        "info": "You may need to upload custom swatch images. [Learn more](https://docs.wetheme.com/faqs/how-do-i-add-color-swatch-images)"
      },
      {
        "type":      "select",
        "id":        "show_discount",
        "label":     "Show discount?",
        "options": [
            { "value": "hide", "label": "Hide" },
            { "value": "percentage", "label": "Percentage" },
            { "value": "value", "label": "Value" }
        ],
        "default":   "hide",
        "info": "Discounts will only be shown on variants that are on sale"
      },
      {
        "type": "checkbox",
        "id": "show-vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_sku",
        "label": "Show SKU",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_smart_checkout",
        "label": "Show dynamic checkout button",
        "default": true,
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      {
        "type": "checkbox",
        "id": "show_product_description",
        "label": "Show product description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "pick_an_option",
        "label": "Pick an option",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "hide_out_of_stock",
        "label": "Hide out of stock variants",
        "default": false,
        "info": "Hide variants that are out of stock when there's one variant set"
      },
      {
        "type": "header",
        "content": "Reviews"
      },
      {
        "type": "checkbox",
        "id": "show_reviews",
        "label": "Enable",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "You will need to install Shopify's [Product Reviews app](https://apps.shopify.com/product-reviews) before enabling this option."
      }
  ],
"presets": [
  {
    "name": "Featured product",
    "category": "Products"
  }
]
}
{% endschema %}
