{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

<style>

.logo-bar-section--{{ section.id }} .logo-bar__item img,
.logo-bar-section--{{ section.id }} .logo-bar__item svg{
	max-width: {{ section.settings.width }}px;
}

</style>

<div class="container logo-bar-section--{{ section.id }}">
	<div class="row">
		<div class="page-width col-md-12">

    {% if section.settings.title != blank %}
      <div class="title-bar {{ settings.title-bar-styling }} custom-font">
      	<h2><span>{{ section.settings.title | escape }}</span></h2>
      	<div class="clear"></div>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
        {% for block in section.blocks %}
          <div class="logo-bar__item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="logo-bar__link">
            {% endif %}
            {% if block.settings.image != blank %}
              {% capture props %}
                style="max-width: {{ section.settings.width }}px"
              {% endcapture %}
              {% include 'responsive-image' with block.settings.image, alt: section.settings.image.alt, class: 'logo-bar__image', props: props, default_size: '240x' %}
            {% else %}
              {{ 'logo' | placeholder_svg_tag: 'icon icon--placeholder' }}
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
  {{ 'general.onboarding.no_content' | t }}
</div>

    {% endif %}
  </div>
</div>
</div>
</div>

{% schema %}
{
  "name": "Featured logos",
  "class": "homepage-section--logo-bar-wrapper wow fadeIn",
  "max_blocks": 20,
  "settings": [
		{
			"type": "select",
			"id": "colors",
			"label": "Color scheme",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "White"
				},
				{
					"value": "light",
					"label": "Light"
				},
				{
					"value": "accent",
					"label": "Feature"
				},
				{
					"value": "dark",
					"label": "Dark"
				}
			],
			"info": "The colors in each 'scheme' can be changed in the 'General settings' > 'Colors' section of your admin"
		},
    {
      "type": "range",
			"id": "width",
	    "label": "Logo width",
      "min": 100,
      "max": 240,
      "step": 10,
      "unit": "px",
      "default": 150
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "As seen in"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
