{% if section.settings.enable %}

{% if section.blocks.size > 0 %}

{% assign show_adverts = true %}
{% if section.settings.advert-show == "homepage" %}
    {% unless template == "index" %}
      {% assign show_adverts = false %}
      {% assign wow_class = "wow fadeIn" %}
  {% endunless %}
{% endif %}

{% if template == "index" %}
  {% assign wow_class = "wow fadeIn" %}
{% endif %}

{% if show_adverts %}

{% case section.settings.colors %}
  {% when 'white' %}
    <div class="sections-wrapper sections-wrapper--white {{ wow_class }}">
  {% when 'light' %}
    <div class="sections-wrapper sections-wrapper--light {{ wow_class }}">
  {% when 'dark' %}
    <div class="sections-wrapper sections-wrapper--dark {{ wow_class }}">
{% endcase %}

{% case section.blocks.size %}
  {% when 1 %}
    {%- assign column_size = 'col-sm-12 col-md-12' -%}
    {%- assign column_amount = 'text-advert-section--one-column' -%}
  {% when 2 %}
    {%- assign column_size = 'col-sm-6 col-md-6' -%}
    {%- assign column_amount = 'text-advert-section--two-columns' -%}
  {% when 3 %}
    {%- assign column_size = 'col-sm-4 col-md-4' -%}
    {%- assign column_amount = 'text-advert-section--three-columns' -%}
  {% when 4 %}
    {%- assign column_size = 'col-sm-3 col-md-3' -%}
    {%- assign column_amount = 'text-advert-section--four-columns' -%}
{% endcase %}

{% case section.settings.alignment %}
  {% when 'left' %}
    {% assign text-advert--alignment = "text-adverts-alignment--left" %}
  {% when 'center' %}
    {% assign text-advert--alignment = "text-adverts-alignment--center" %}
  {% when 'right' %}
    {% assign text-advert--alignment = "text-adverts-alignment--right" %}
{% endcase %}

<div class="container hidden-xs">
  <div class="row text-advert-section {{ column_amount }} {{ text-advert--alignment }}">

    {% for block in section.blocks %}
      {%- assign advert_has_link = false -%}
      {% if block.settings.link != blank %}
        {%- assign advert_has_link = true -%}
      {% endif %}

      <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>

        {% if block.settings.icon != 'none' %}
        <div class="text-advert-block--icon-wrapper">
          {% if advert_has_link %}<a href="{{ block.settings.link }}">{% endif %}
          <i data-feather="{{ block.settings.icon }}"></i>
          {% if advert_has_link %}</a>{% endif %}
        </div>
        <div class="text-advert-block--text-wrapper">
        {% endif %}

          {% if block.settings.heading != blank %}
            {% if advert_has_link %}<a href="{{ block.settings.link }}">{% endif %}
            <span class="text-advert-section--header h5">{{ block.settings.heading | escape }}</span>
            {% if advert_has_link %}</a>{% endif %}
          {% endif %}

          {% if block.settings.heading != blank %}
            {% if advert_has_link %}<a href="{{ block.settings.link }}">{% endif %}
            <span class="text-advert-section--sub-header h6">{{ block.settings.subheading | escape }}</span>
            {% if advert_has_link %}</a>{% endif %}
          {% endif %}

        {% if block.settings.icon != 'none' %}
        </div>
        {% endif %}

      </div>

    {% endfor %}
  </div>
</div>

<div class="container visible-xs">
  <div class="row text-advert-section mobile-homepage-text-adverts {{ column_amount }} {{ text-advert--alignment }}">
    <ul class="slides">
      {% for block in section.blocks %}
      {%- assign advert_has_link = false -%}
      {% if block.settings.link != blank %}
        {%- assign advert_has_link = true -%}
      {% endif %}

        <li {{ block.shopify_attributes }}>
          <div class="grid__item {{ column_size }}">

            {% if block.settings.icon != 'none' %}
            <div class="text-advert-block--icon-wrapper">
              {% if advert_has_link %}<a href="{{ block.settings.link }}">{% endif %}
              <i data-feather="{{ block.settings.icon }}"></i>
              {% if advert_has_link %}</a>{% endif %}
            </div>
            <div class="text-advert-block--text-wrapper">
            {% endif %}

              {% if block.settings.heading != blank %}
                {% if advert_has_link %}<a href="{{ block.settings.link }}">{% endif %}
                <span class="text-advert-section--header h5">{{ block.settings.heading | escape }}</span>
                {% if advert_has_link %}</a>{% endif %}
              {% endif %}

              {% if block.settings.heading != blank %}
                {% if advert_has_link %}<a href="{{ block.settings.link }}">{% endif %}
                <span class="text-advert-section--sub-header h6">{{ block.settings.subheading | escape }}</span>
                {% if advert_has_link %}</a>{% endif %}
              {% endif %}

            {% if block.settings.icon != 'none' %}
            </div>
            {% endif %}

          </div>
        </li>

      {% endfor %}
    </ul>
  </div>
</div>

</div>

<style>
  #main-navigation-wrapper {
    margin-bottom: 0;
  }
</style>

{% endif %}

{% endif %}

{% endif %}

{% schema %}
{
  "name": "Text adverts",
  "class": "section--text-adverts-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable text adverts",
      "default": true
    },
    {
      "type": "select",
      "id": "colors",
      "label": "Color scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon-size",
      "label": "Icon size",
      "options": [
        {
          "value": "text-adverts-icon-size--small",
          "label": "Small"
        },
        {
          "value": "text-adverts-icon-size--medium",
          "label": "Medium"
        },
        {
          "value": "text-adverts-icon-size--large",
          "label": "Large"
        }
      ],
      "default": "text-adverts-icon-size--medium"
    },
    {
    "type":      "radio",
    "id":        "advert-show",
    "label":     "Show",
      "options": [
        { "value": "homepage", "label": "Homepage" },
        { "value": "all", "label": "All pages" }
      ],
    "default":   "all"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "text",
      "name": "Advert",
      "settings": [
        {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "alert-circle",
                "label": "Alert"
              },
              {
                "value": "anchor",
                "label": "Anchor"
              },
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "bell",
                "label": "Bell"
              },
              {
                "value": "bookmark",
                "label": "Bookmark"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "value": "coffee",
                "label": "Coffee"
              },
              {
                "value": "message-circle",
                "label": "Chat bubble"
              },
              {
                "value": "clock",
                "label": "Clock"
              },
              {
                "value": "compass",
                "label": "Compass"
              },
              {
                "value": "truck",
                "label": "Delivery truck"
              },
              {
                "value": "dollar-sign",
                "label": "Dollar"
              },
              {
                "value": "film",
                "label": "Film"
              },
              {
                "value": "smile",
                "label": "Happy face"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "key",
                "label": "Key"
              },
              {
                "value": "cloud-lightning",
                "label": "Lightning bolt"
              },
              {
                "value": "map-pin",
                "label": "Map marker"
              },
              {
                "value": "music",
                "label": "Music"
              },
              {
                "value": "phone",
                "label": "Phone"
              },
              {
                "value": "play",
                "label": "Play icon"
              },
              {
                "value": "trending-up",
                "label": "Trending"
              }
            ]
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]
}
{% endschema %}
